<footer class="footer" style="background: #003660">
	<div class="wrap grid">

		{% include UCSB-wordmark-footer.html %}
		{% include CLAIR-logo-white.html %}
	</div>
</footer>
<div class="footer-bottom" style="background: #002b4c">
	
		<div class="wrap grid">
			<span class="ucsb-copyright" style="padding-top:20px; font-size: 12px">Copyright © {{ 'now' | date: "%Y" }} The Regents of the University of California. All Rights Reserved. <a href="https://www.ucsb.edu/terms-of-use" class="terms" style="margin-left: 16px">Terms of Use</a> 
			<a href="/accessibility" class="terms" style="">Accessibility</a></span>
		</div>
			
</div>
	
	</div>
