{% comment %}
  Simple Toggle Component
  
  Usage:
  {% capture toggle_content %}
  Your markdown content here with **formatting** and [links](url).
  {% endcapture %}
  {% include simple-toggle.html 
    id="unique-id"
    button_text="Show more"
    expanded_text="Show less"
    content=toggle_content %}
  
  Or with defaults:
  {% capture toggle_content %}
  Your content here
  {% endcapture %}
  {% include simple-toggle.html id="my-id" content=toggle_content %}
{% endcomment %}

{% assign button_text = include.button_text | default: "Show more" %}
{% assign expanded_text = include.expanded_text | default: "Show less" %}
{% assign processed_content = include.content | markdownify %}

<div class="toggle-component" data-toggle-id="{{ include.id }}">
  <div class="toggle-content" id="toggle-content-{{ include.id }}">
    {{ processed_content }}
  </div>
  <button class="toggle-button" 
          data-toggle-target="{{ include.id }}"
          data-collapsed-text="{{ button_text }}"
          data-expanded-text="{{ expanded_text }}"
          aria-expanded="false"
          aria-controls="toggle-content-{{ include.id }}">
    {{ button_text }}
  </button>
</div>
